<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:descricao]} type="text" label="Descricao" />
  <.input field={f[:valor]} type="number" label="Valor" step="any" />
  <.input field={f[:data]} type="date" label="Data" />
  <:actions>
    <.button>Save Receita</.button>
  </:actions>
</.simple_form>
