<.header>
  Edit Despesa <%= @despesa.id %>
  <:subtitle>Use this form to manage despesa records in your database.</:subtitle>
</.header>

<.despesa_form changeset={@changeset} action={~p"/despesas/#{@despesa}"} />

<.back navigate={~p"/despesas"}>Back to despesas</.back>
