<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gestão Financeira</title>
    <link rel="stylesheet" href={~p"/assets/app.css"}>
  </head>
  <body>
    <div class="container">
      <%= @inner_content %>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const flashMessages = document.querySelectorAll(".flash");
      flashMessages.forEach(message => {
        setTimeout(() => {
          message.style.display = "none";
        }, 3000); // 3 segundos
      });
    });
  </script>  

</html>
